#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 20px; 
}

ul.contactList {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  cursor: pointer;
}

h1.showContact {
  font-size: 2.2em;
}

h2.contactName {
  font-size: 2em;
  margin-block-end: 0.1em;
}

ul.contactInfo {
  list-style-type: none;
  padding-left: 0;
}