.image {
    height: 100px;
}

.price {
    font-size: 2rem;
    vertical-align: auto;
}

.h2instrument {
    font-size: 3rem;
}

body {
    background: radial-gradient();
}

.instruments {
    display: flex;
    flex-direction: row;
}