.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 1rem; 
  width: 300px;
  background-color: aliceblue;
}

.cell {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: lightgray;
}

.gameState {
  height: 2rem;
}